<div class="row">
    <div class="col-md-4">
        <div class="small-box bg-2">
            <div class="inner">
                <h3>835</h3>

                <p>{{#str}}orders, local_marketplace{{/str}}</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-bag"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="small-box bg-1">
            <div class="inner">
                <h3>1</h3>

                <p>{{#str}}products, local_marketplace{{/str}}</p>
            </div>
            <div class="icon">
                <i class="fa fa-list"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="small-box bg-3">
            <div class="inner">
                <h3>5</h3>

                <p>{{#str}}categories, local_marketplace{{/str}}</p>
            </div>
            <div class="icon">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</div>