<div class="my-2">
    <div class="list-group">
        {{#orders}}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <h4 class="mb-0">{{fullname}}</h4>
                <small>{{email}}</small>
                <hr class="mt-0 mb-2">
                <div class="d-flex">
                    <div class="mr-3">
                        <img class="border border-radius p-1" src="{{image.fileurl}}" style="width: 140px;">
                    </div>
                    <div class="content">
                        <h5 class="mb-0">{{name}}</h5>
                        <small>{{humantimecreated}}</small>

                        <p class="mt-2 mb-0">{{description}}</p>
                        <span class="badge badge-warning">{{#str}}price, local_marketplace{{/str}}: {{price}}</span>

                        {{#downloadurl}}
                            <div class="mt-2">
                                <a href="{{downloadurl}}" class="btn btn-primary btn-sm">
                                    <i class="fa fa-download"></i> {{#str}}downloadyourfile, local_marketplace{{/str}}
                                </a>
                            </div>
                        {{/downloadurl}}
                    </div>
                </div>
            </div>
        {{/orders}}
    </div>
</div>