<div class="header text-right mb-3">
    <a href="" class="btn btn-info">My purchased products</a>
</div>

<div class="my-2">
    <div class="row">
        {{#products}}
            <div class="col-md-4">
                <div class="card shadow-none border my-2">
                    <div id="images-{{id}}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {{#images}}
                                <div class="carousel-item {{#active}}active{{/active}}">
                                    <img class="d-block w-100" src="{{fileurl}}">
                                </div>
                            {{/images}}
                        </div>
                        <a class="carousel-control-prev" href="#images-{{id}}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">{{#str}}previous, local_marketplace{{/str}}</span>
                        </a>
                        <a class="carousel-control-next" href="#images-{{id}}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">{{#str}}next, local_marketplace{{/str}}</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{description}}</p>
                    </div>
                    <div class="card-footer d-flex">
                        <div class="info">
                            <div class="icon">
                                <img class="evocoin black" src="{{config.wwwroot}}/local/evokegame/pix/evocoin.svg" alt="Evocoin">
                            </div>
                            <div class="price">{{price}}</div>
                        </div>
                        <div class="buttons ml-auto">
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/products}}
    </div>
</div>