<div class="marketplace">
    <a class="btn btn-primary icon-no-margin" href="{{config.wwwroot}}/local/marketplace/index.php">
        <i class="icon fa fa-shopping-cart fa-fw " title="Marketplace" role="img" aria-label="Marketplace"></i>
    </a>
</div>